@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Goudy+Bookletter+1911&family=Homemade+Apple&display=swap');
:root{
    --background-color: #F7EAC1;
    --card-width: 360px;
    --card-height: calc(var(--card-width) / (5 / 3));
    --card-color: white;
    --text-color: #33302C;
    --accent-color: #64963C;
    --script-font: "Homemade Apple";
    --text-font: "Goudy Bookletter 1911";
    --highlightCol: rgba(52, 127, 52, 0.187)
}
body{
    font-family: var(--text-font);
    background-color: var(--background-color);
    color: var(--text-color);
}
h1, h3, h3, h4, h5, p{
    padding: 0;
    margin: 0;
}
h1, h2{
    font-family: var(--script-font);
    text-transform: capitalize;
    line-height: 95%;
}
a:link, a:visited{
    color: var(--accent-color);
    text-decoration: none;
}
a:hover, a:active{
    color:#33302C;
    text-decoration: none;
}
header{
    text-align: center;
}
header h1{
    text-transform: lowercase;
}
header p{
    text-transform: capitalize;
}
header a:link, header a:visited{
    color: var(--text-color);
}
button{
    font: var(--text-font);
    border: none;
    background-color: var(--background-color);
    margin: auto;
    cursor: pointer;
}
p{
    padding: 0;
    margin: 0;
}

/* tablet - desktop */
@media screen and (min-width: 853px){
    /* :root{
        --background-color: #F7EAC1;
    } */
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 14px;
    }
    header{
        padding: 2rem;
    }
    header h1{
        font-size: 20px;
    }
}
/* mobile */
@media screen and (max-width: 852px){
    /* :root{
        --background-color: lightgrey;
    } */
    h1{
        font-size: 16px;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 12px;
    }
    header{
        padding: 1.5rem 1rem;
    }
    header h1{
        font-size: 16px;
    }
}
::selection{
    background-color: var(--highlightCol);
    color: var(--bgCol);
}